.header{
	padding-top: 20px;
	
}

.header__block{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid grey;
	padding-bottom: 20px;
}
.header__logo img{
	margin-top: 10px;
	cursor: pointer;
}
.header__search{
	display: flex;
}
.header__user{
	display: flex;
}
.form__search>input{
	width: 600px;
	border: 1px solid black;
	height: 40px;
}
.form__search{
	position: relative;
}
.form__search>img{
	position: absolute;
	left: 10px;
	top: 10px;
}
.form__search>input[placeholder="Знайти речі або бренди  "]{
	padding-left: 40px;
	font-family: var(--font);
	font-weight: 400;
	font-size: 12px;

}
.header__search>button{
	width: 120px;
	height: 30px;
	background-color: #000;
	color: #fff;
	font-family: var(--font);
	font-weight: 400;
	font-size: 12px;
	margin-left: 20px;
	margin-top: 5px;
}
.header__different__pages{
	display: flex;
	
}
.header__different__pages>p{
	margin-top: 10px;
}
.header__different__pages img{
	margin-top: 10px;
}
.header__different__pages>p{
	color: #000;
	font-family: var(--font);
	font-weight: 400;
	font-size: 12px;
}
.header__usebility__block{
	margin-left: 20px;
	margin-top: 5px;
}
.header__usebility__block img{
	width: 24px;
	height: 24px;
}
.header__usebility__block img[src="./img/header/sms.png"],
.header__usebility__block img[src="./img/header/buy.png"],
.header__avatar img[src="./img/header/avatar.png"]{
	margin-left: 20px;
}